@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,500;1,700;1,800&display=swap');
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: inherit;
}

html {
	font-family: 'Open Sans', sans-serif;
}

body {
	background: url('/img/FondoAvion.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	width: 100vw;
}
/* Header */
header {
	background-color: #fff;
	width: 100vw;
	max-height: 40px;
	color: #2a88d9;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 0rem;
}
header > img {
	width: 3rem;
}

header > a > h1 {
	size: 0.8rem;
	text-align: center;
	font-weight: 900;
	font-style: italic;
}

/* Area de busqueda */

fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.boxed {
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.319) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	border-radius: 10%;
	padding: 1.5rem;
}

.boxed > label {
	font-size: 1.3rem;
	font-weight: 800;
	font-style: italic;
	color: #2c8cbd;
}

.boxed > label img {
	width: 12px;
	align-self: center;
	padding-right: 0.8rem;
	margin-top: 0.8rem;
}

.easy-autocomplete input {
	border: none;
	background-color: #f4f4f4;
	padding: 1rem;
	border-radius: 1rem;
	margin: 0.3rem;

	color: #484c523a;
}

.easy-autocomplete input::placeholder {
	color: #484c525d;
	font-size: 1.2rem;
	font-weight: 700;
	font-style: italic;
}

fieldset > a {
	display: flex;
	justify-content: center;
}

fieldset > button {
	background-color: #2a88d9;
	border: none;
	width: 50%;
	align-self: center;
	color: white;
	margin-top: 2rem;
	padding: 0.8rem 1rem;
	border-radius: 0.5rem;
}

/* Area de respuesta  */

#bodyResults {
	background-image: url('/img/FondoPag2.png');
	background-size: cover;
	background-repeat: no-repeat;
}

/* Flight Details */

.top-banner {
	width: 100%;
	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#flightDetails {
	background-color: #f4f4f4;
	width: 100%;
	top: 100px;
	max-width: 50%;
	padding: 1rem;
	display: grid;
	grid-template-areas: 'p p p';
	align-items: center;
}

#flightDetails > p:first-child {
	color: #484c5276;
	font-weight: 900;
	font-style: italic;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
}

#flightDetails > p:last-child {
	color: #484c5276;
	font-weight: 900;
	font-style: italic;
	align-self: center;
	margin-right: auto;
}

#flightDetails > p:nth-child(2) {
	color: black;
}

#flightDetails > p > img {
	width: 15px;
	align-self: center;
	padding-right: 0.8rem;
}

/* Fecha de vuelo */
#departure {
	background-color: #f4f4f4;
	width: 100%;
	margin-top: -20px;
	padding: 1rem;
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
	font-style: italic;
	color: #484c527a;
}

/* Box de response area */

#responseArea {
	margin-bottom: auto;
	margin-top: auto;
}

#responseArea > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

#responseArea > div > img {
	width: 10rem;
}
#responseArea > div > h2 {
	color: white;
	background-color: #2a88d9;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.636);
	align-self: center;
	border-radius: 10px;
	padding: 0.5rem 4rem;
	max-width: 50%;
}

#responseArea > div > a > button {
	color: rgb(255, 255, 255);
	background-color: #484c52;
	border: none;
	font-size: 1rem;
	font-weight: 700;
	font-style: italic;
	padding: 1rem 1rem;
	border-radius: 0.5rem;
}

#responseArea > div > p {
	display: flex;
	align-items: center;
	gap: 0.3rem;
	color: #484c528a;
	font-weight: 700;
	font-style: italic;
}

#responseArea > div > p > img {
	width: 30px;
}

/* Footer */

footer {
	background-color: #f4f4f4;
	width: 100%;
	color: #484c52;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	justify-content: space-around;
}

#social {
	width: 40%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

footer > h5:first-child {
	padding-top: 1rem;
}

footer > div > a > img {
	width: 2rem;
	height: 2rem;
}

#developedBy {
	padding-bottom: 1rem;
}

#developedBy > a {
	text-decoration: underline;
}

@media (min-width: 719px) {
	body {
		background-size: cover;
	}
	header > a > img {
		width: 4rem;
	}
	header > a > h1 {
		font-size: 3rem;
	}
}
